/* Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC */

* {
  font-family: Montserrat;
}

body{
  margin: 0;
}

main {
  display: flex;
  background-color: #2B2733;
  color: #CBC9CF;
  height: 100vh;
  width: 100vw;
}

header {
  width: 100vw;
  position: fixed;
  overflow: hidden;
  background-color: #46424D;
  color: #FFF;
  text-align: center;
  font-size: 1.5rem;
  height: 6vh;
  padding-top: 10px;
}

.right {
  width: 45vw;
  margin: 30px;
}

.no-activities {
  text-align: center;
  margin-top: 3rem;
}

.past-activity-card{
  display: block;
  background-color: #46424D;
  margin: 0
}

h6 {
  font-size: 0.8rem;
  font-weight: bolder;
  margin-left: 1rem;
  margin-top: 1rem;
  color: #FFF;
}

.time-card {
  margin-left: 1rem;
}

.description-card {
  text-transform: capitalize;
  font-size: 0.9rem;
  margin-left: 1rem;
  margin-top: 1rem
}

.left {
  width: 100vw;
  margin: 30px;
}

[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.activity-container{
  background-color: #46424D;
  height: 40rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.category-container {
  height: 20vh;
  display: flex;
  justify-content: space-around;
}

.category-box {
  border: 2px solid #FFF;
  color: #FFF;
  height: 10vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin: 2em 0 .5em 0;
}

h2 {
  width: 15rem;
  color: #FFF;
  margin: 2em 0 0 1em;
  font-size: 1.3rem;
}

h3 {
  margin-top: 0.3em;
  font-size: 1.2em;
  font-weight: bold;
}

h4 {
  align-self: center;
  margin: 2rem 0 0 0;
  font-size: 2rem;
  color: #FFF;
  text-transform: capitalize;
}

h5 {
  align-self: center;
  margin: 0;
  font-size: 5rem;
  color: #FFF;
}

.input-container {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.image-section {
  justify-content: space-between;
}

img {
  height: 3vh;
  width: 5vh;
  margin-top: 0.7em;
}

input {
  background: transparent;
    border: none;
    border-bottom: 1px solid #FFF;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  font-size: 1.1rem;
  color: #FFF;
}

.minutes-seconds {
  display: flex;
  justify-content: space-evenly;
}

.minutes, 
.seconds {
  display: flex;
  flex-direction: column;
  color: #FFF;
  width: 20vw;
  margin-top: 1.5rem;
  font-size: 1.1rem;
}

.submit {
  background-color: #FFF;
  border: none;
  color: #2B2733;
  padding: 7px 25px;
  text-align: center;
  margin-right: 5.5vw;
  cursor: pointer;
  border-radius: 4px;
  text-transform: uppercase;
  align-self: flex-end;
}

.activity-description{
  background: transparent;
  border: none;
  border-bottom: 1px solid #FFF;
  width: 45.5vw;
  color: #FFF;
  margin-top: 1.5rem;
}

.study {
  border: 2px solid #B3FD78;
  color: #B3FD78;
}

.meditate {
  border: 2px solid #C278FD;
  color: #C278FD;
}

.exercise {
  border: 2px solid #FD8078;
  color: #FD8078;
}

.btn-start {
  background: #46424D;
  text-align: center;
  width: 250px;
  height: 250px;
  border: 4px solid white;
  border-radius: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: 2rem;
  color: white;
  margin-bottom: 1rem;
  }

  .log-activity {
    background-color: #FFF;
    border: none;
    color: #2B2733;
    padding: 7px 45px;
    text-align: center;
    margin-bottom: 3rem;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
    align-self: center;
  }

.create-new-activity {
  background-color: #FFF;
  border: none;
  color: #2B2733;
  padding: 7px 55px;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 25rem;
  cursor: pointer;
  border-radius: 4px;
  text-transform: uppercase;
  align-self: center;
}

.vertical-line {
  background-color: #46424D;
  height: 100vh;
  width: .4vw;
}

.card-category {
  background-color: green;
  width: 1rem;
  height: 1rem
}