/* Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC */

* {
  border: 2px solid red;
  font-family: Montserrat;
}
.hidden {
  display: none;
}

body{
  margin: 0;
}

main {
  display: flex;
  background-color: #2B2733;
  color: #CBC9CF;
  height: 100vh;
  width: 100vw;
}

header {
  width: 100vw;
  position: fixed;
  overflow: hidden;
  background-color: #46424D;
  color: #FFF;
  text-align: center;
}


[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.activity-container{
  background-color: #46424D;
  height: 40rem;
  justify-content: space-evenly;
}

.category-container {
  height: 30vh;
  display: flex;
  justify-content: space-around;
}

.category-box {
  border: 2px solid #FFF;
  height: 10vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h6 {
  margin-top: 0.3em;
  font-size: 1.2em;
  font-weight: bold;
}

.input-container {
  height: 30vh;
  display: flex;
  align-content: space-evenly;
  flex-flow: wrap;
}

.image-section {
  justify-content: space-between;
}

.left {
  width: 100vw;
}

img {
  height: 3vh;
  width: 5vh;
  margin-top: 0.5em;
}

input {
  background: transparent;
    border: none;
    border-bottom: 1px solid #FFF;
}

.submit {
  background-color: #FFF;
  border: none;
  color: #2B2733;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  text-transform: uppercase;
}

.activity-description{
  background: transparent;
    border: none;
    border-bottom: 1px solid #FFF;
    width: 400px;
}
